.roundImage{
    border: 20px solid white;
}

body{
   
    background-color: #fff;
}



input{
 
    width: 60%;
    padding:10px ;
}


.container{
   
    padding: 20px;
    display: flex;
}
.child{
    width: 50%;
    float: left;
    padding: 20px;

    margin: 20px;
}

.redButton{
    color: white;
    background-color: red;
    width:15% ;
    border-radius: 20px;
    border: none;
}



h1{
    font-size:80px ;
}

h2{
    font-size: 60px;
}
.mgm{
    margin-top: 40px;
    margin-bottom: 30px;
}

.mgb{
    margin-bottom: 20px;
}

.mglf{
    margin-left: 150px;
}
.mgtp{
    margin-top: 50px;
}
h1.inln{
    display: inline-block;
}

#redColor{
    font-weight: bolder;
    color: red;
}

.snglrow{
    margin-top:30px;
}

#fpwd{
    color: gray;
    text-decoration: none;
    font-weight: lighter;
}

a#rghr{
    color: red;
    text-decoration: none;
}

input[type="text"]{
    border-radius: 8px;
}


 .sidebar {
    height: 100%;
    width: 180px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 16px;
  }

  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sdbarimg{
    width: 30px;
  }

  .srch{
    margin-left: 40px;
  }

  .topnav{
    margin-top: 20px;
  }

  .topnav a{
    margin: 15px;
  }

  .topnav input{
    border: none;
  }

  /*  */
  .main{
    margin-left: 200px;
    margin-top: -315px;
    /* margin-top: -315px; */
    background-color:#f9f9f9;
    
 }

 .divwd{
    text-align: center;
    width: 15%;
    border: 0.5px solid rgb(207, 205, 205);
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 15px;
    background-color: white;
    padding: 5px;

 }

 .fllft{
    float: left;
 }

 .row{
    width: 80%;
 }

 .ttlprdct{
    height: 55px;
    width: 55px;
 }

 .dbd{
    margin-left: 58px;
 }

 .imgdg{
    margin-left: 60px;
 }

.gfg {
    margin-top: auto;
      margin-right:145px;
      position: relative;
      float: right;
      width: 360px;
      height: 352px;
      text-align: center;
      background-color: white;
}

.rdbtn{
    
    width: 30px;
    height: 30px;

}

.pchart{
    width:225px;
    height: 225px;
}

.gfg h3{
    font-size: 20px;
}
 
td span{
    font-size: 10px;
}

.gfg table{
    text-align: start;
    margin-left:60px;
}

.d-inline-block{
    background-color: white;
    margin-right: 25px;
}

.invoices{
    margin-left: 50px;
    margin-top: 40px;
}

 .navbar{
    margin-left: 60px;
    background-color: white;
}

.navbar-expand-lg .navbar-collapse{
    margin-left: 480px;
}

.bg-light{
    background-color: white ;
}

.invoices table{
    width: 1130px;
}

.invoices .navbar{
    width: 1080px;
    
}

.invoices .navbar-expand-lg .navbar-collapse{
    margin-left: 850px;
}

.invoices .navbar{
    margin-left: 0px;
    background-color: white;
}
/*  */

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:gray;
  }

  /*  */

  .part-1{
    /* width: 800px; */
    margin: 10px;
  }


  .form-group{
    padding:0px;
    border:2px solid;
    margin:0px;
 
  }
  .form-group>label{
    padding-left: 5px;
    padding-right: 5px;
    position:relative;
    top:-20px;
    left:20px;
    background-color:white;
  }
  
  .form-group>input{
    border:none;
  }
 
  .image-upload>input {
   
    display: none;
  }
  .image-upload {
    margin-left: 20px;
    margin-top: 10px;
    /* display: none; */
  }
  .rdbtn{
    margin-left: 20px ;
  }


  .RadioButton input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 2px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  h4{
    margin: 20px;
  }
  
  /* appearance for checked radiobutton */
  .RadioButton input[type="radio"]:checked {
    background-color:red;
    border: 2px solid red;
  }

  .inln1{
    display: inline-block;
    margin: 5px;
  }

  .alert1{
    background-color: white;
    color: red;
    border: 2px solid red;
  }
  .alert2{
    background-color: white;
    color: rgb(78, 188, 231) ;
    border: 2px solid rgb(78, 188, 231);
  }
  .alert3{
    background-color: white;
    color:rgb(216, 216, 6) ;
    border: 2px solid rgb(216, 216, 6) ;
  }
  .alert4{
    background-color: white;
    color:green ;
    border: 2px solid green ;
  }

  #btnSearch,
  #btnClear{
      display: inline-block;
      /* vertical-align: top; */
  }

  .Call_to_an_action .btn1{
    border-radius: 18px;
    width: 100px;
  }
  .Call_to_an_action .btn2{
    border-radius: 18px;
    width: 100px;
    background-color: white;
    border: 2px solid red;
    color: red;
  }

  .Tabs .navbar{
    margin-left: -480px;
    background-color: white;
  }

  .part-1{
    margin-top: 10px;
    width: 120%;
  }
  .part-2 .container-4 .row{
    margin: 20px;
  }
  .Call_to_an_action .row{
    margin: 15px;
  }
  .container-1{
    margin-top: 10px;
    margin-bottom: 10px;
    /* width: 200%; */
    width: 119%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  .container-2{
    margin: 10px;
    width: 119%;
    font-size: 14px;
  }
  .container-3{
    margin-top: 10px;
    margin-bottom: 10px;
    /* width: 200%; */
    width: 119%;
    font-size: 14px;
  }
  .container-3 textarea{
    font-size: 14px;
  }

  .part-2{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120%;
  }




  /*  */
  /* .container-4 {
    margin: 20px;

  } */


  /*  */

  .part-3{
    margin-top: 35px;
    margin-bottom: 10px;
    width: 120%;
  }

  .container-5 .row{
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    margin: 10px;
    width: 80%;
  }

  /*  */
  .container-5{
    margin: 20px;
  }
  /*  */
    /*  */
    .container-1{
      margin: 20px;
    }
    /*  */
    .container-2{
      margin: 20px;
    }
    /*  */
    .container-3{
      margin: 20px;
    }
    /*  */

  .td1{
    color: green;
    font-weight: bolder;
  }

  .td2{
    color: red;
    font-weight: bolder;
  }

  .td3{
    color: gray;
    font-size: bolder;
  }

  .part-4, .part-5, .RadioButton, .Ckbox, .Call_to_an_action, .Tabs{
    margin-top: 30px;
    width: 120%;
  }
  /* .Snackbar{
    margin: 0px;
    width: 120%;
  } */

  .mgtp2{
    margin-top: 35px;
  }

  .container-6 .row{
    margin-left: 20px;
    margin-right: 20px;
  }

/*  */

  .inpagepart{
    margin: 10px;
    background-color: white;
    padding-top: 15px;
  }
  .container-1 .col-lg-12 input[type="text"] {
    display:block;
    width: 83.5%;
    border: 1px solid gray;
  }

  .container-4 .col-lg-6 input[type="text" ] {
    display:block;
    width:100%;
    border: 1px solid gray;
  }
  .container-4 .col-lg-6 input[type="password" ] {
    display:block;
    width:100%;
    border: 1px solid gray;
  }

  .col-lg-6 .form-group input[type="text" ] {
    border: none;
    margin-top: -20px;
  }

  .btmnav{
    width: 68%;
    border-bottom:2px solid black ;
  }

.form-group{
  border: 1px solid gray;
  /* padding: -20px; */
}

.btmpage{
  width: 82%;
  margin: 20px;
}

.col-lg-4 .form-group {
  margin-top: -20px;
  width: 104%;
  margin-inline-end: auto;
  /* margin-right: 20px; */
  /* margin-left: 30px; */
  
  
}
.col-lg-4{
  margin-left: 0px;
}

h5{
  margin-left: 20px;
}

/* .col-lg-4{
  margin: 10px;
} */
.col-lg-4 .form-group input{
  width: 100%;
  margin-top: -20px;
}

.col-lg-4 .form-group input[type="password" ]{
  width: 100%;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}
.col-lg-4 .form-group input[type="text" ]{
  width: 100%;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}

/* .cb{
  background-color: black;
}


.main input:checked ~ .Ckbox{
  background-color: red;

} */
.check {
  -webkit-appearance: none; 
  height: 20px;
  width: 20px;
  position: relative;
  top: 0px;
  left: 100px;
  transition: 0.10s;
  background-color: white;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  outline: none;
  display: inline-block;
}

.check:checked {
  background-color: red;
}

.col-lg-3 .form-group input[type="text" ] {
  margin-top: -24px;
  width: 100%;
  /* margin-right: 20px; */
  /* margin-left: 30px; */
  
  
}
.col-lg-3  input {
  width: 100%; 
  height: 40px; 
}
/* 30-01 */

.col-lg-12 select{
  /* width: 209%; */
  width: 83.5%;
  height: 50px;
  /* margin-left: -8px; */
}
.col-lg-6  select{
  width: 100%;
  height: 40px;
  /* margin-left: -8px; */
}
.col-lg-3  select{
  width: 100%;
  height: 40px;
  /* margin-left: -8px; */
}
.Ckbox .row {
  margin-left: 0px;
}
.row .col-lg-1{
  margin: 0px;
}
textarea.form-control {
  /* min-height: calc(1.5em + (0.75rem + 2px)); */
  width: 83.5%;
}
.alert-primary {
  width: 100%;
  height: 46px;
  padding: 5px;
  font-size: 14px;
  margin: 20px;
}

@media (max-width: 1400px ) and (min-width:992px) {
  .rounded-circle{
      width: 400px;
      height: 400px;
  }

  .H1{
      font-size: 30px;
  }
  .H2{
      font-size: 20px;
  }
  .C2{
      height: 100px;
  }
  input{

      width: auto;
      padding:8px ;
  }
  .mgm{
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .snglrow{
      margin-top:10px;
      margin-bottom: 0px;
  }
  .container{
      padding: 0px;
  }
  .redButton{
    color: white;
    background-color: red;
    width:25% ;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}
  /*  */
  .main{
      display: none;
      width: 85%;
      /* padding: 10px; */
      
   }
   .srch{
      position: relative;
      width:80%;
   }


   .form-search {
      margin-left:auto;
      margin-right:auto;
    }

    .topnav input{
      width: 30%;
      margin-left: auto;
      margin-right: auto;
   }
   .topcorner{
      position:relative;
      top:0px;
      right: 0px;
       width: 30%;
      float: right; 
   }

   /* .imgdg{
    height: 400px;
    width: 600px;
   } */

  


}
/* @media (max-width: 991px ) and (min-width:992px) { */
@media (max-width: 992px ) and (min-width:768px) {
  .rounded-circle{
      width: 300px;
      height: 300px;
  }
  .child{
      width: 50%;
      float: left;
      padding: 5px;
      /* border: 2px solid white; */
  }
  .H1{
      font-size: 25px;
  }
  .H2{
      font-size: 18px;
  }
  .C2{
      height: 100px;
  }
  input{
      font-size: 15px;
      width: 50%;
      padding:4px ;
  }
  .mgm{
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .snglrow{
      margin-top:10px;
      margin-bottom: 0px;
  }
  .container{
      padding: 10px;
  }

  .mgb{
      margin-bottom: 10px;
  }

  input::placeholder {
      font-size: 12px;
  }
  .btmredborder{
    height: 30px;
    width: 30px;
    border: 5px solid red;
  }
  .container-7 .row {
    width: 40%;
  }
  .redButton{
      color: white;
      background-color: red;
      width:20% ;
      border-radius: 20px;
      border: none;
      font-size: 12px;
  }
  #fpwd{
      font-size: 12px;
      font-weight: lighter;
  }
  .mglf{
      margin-left: 100px;
  }
  .btm{
      font-size: 12px;
  }
  
  .main{
      display: none;
  }
   .form-search {
      margin-left:auto;
      margin-right:auto;
    }

    .topnav input{
      width: auto;
      margin-left: auto;
      margin-right: 0px;
      font-size: 10px;
   }
   .topcorner{
      position:relative;
      top:0px;
      right: 0px;
       width: 30%;
      float: right; 
      font-size: 10px;
      margin-top: 5px;
   }
   .srch img{
      width: 20px;
      height: 20px;
   }
   .bellimg{
      width: 20px;
      height: 20px;
   }
   .pimg{
      width: 20px;
      height: 20px;
   }



  
  
}

@media (max-width: 768px ) and (min-width:400px)  {

  
  
  .Menubtnwidth{
      width: 20px;
  }
  .logowidth{
      width: 67px;
      height: 30px;
  }

  .rounded-circle{
      width: 300px;
      height: 300px;

      display: block;
      margin: 0 auto;
      max-width: 100%;
  }

  .C2{
      display: block;
      margin-top: 300px;
      margin-left: -380px;
      margin-right: auto;
      width: 100%;
      align-content: center;

  }
  .C1{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .H1{
      font-size: 25px;
  }
  .H2{
      font-size: 15px;
  }
  .snglrow{
      margin-left: auto;
      margin-right: auto;
      
  }
  input{
      font-size: 12px;
      /* width: 80%; */
      margin-left: 50%;
      margin-right: 50%;
      padding:4px ;
  }

  .main{
      display: none;
  }
   .form-search {
      margin-left:auto;
      margin-right:auto;
    }

    .topnav input{
      width: auto;
      margin-left: auto;
      margin-right: 0px;
      font-size: 10px;
   }
   .topcorner{
      position:relative;
      top:0px;
      right: 0px;
       width: 35%;
      float: right; 
      font-size: 10px;
      margin-top: 5px;
   }
   .srch img{
      width: 15px;
      height: 20px;
   }
   .srch {
      margin-left: 4px;
   }
   /* .srch input{
      width:auto;
   } */
   .bellimg{
      width: 15px;
      height: 15px;
   }
   .pimg{
      width: 15px;
      height: 15px;
   }
   .imgnav{
      width:20%;
   }
   .sidebar{
      width: 30%;
      font-size: 10px;
      background-color:wheat;
  
   }
   .sidebar a{
      text-align: center;
      font-size: 10px;
   }
   .sidebar a:hover{
      background-color: white;
      color: red;
      font-weight: bold;
   }
   .pname{
      display:none;
   }

   @media (max-width: 426px )  
  {
      .Menubtnwidth{
          width: 20px;
      }
      .logowidth{
          width: 67px;
          height: 30px;
      }
      .bellimg{
          width: 12px;
          height: 12px;
          position: relative;
          margin: 0px;
       }
       .pimg{
          width: 12px;
          height: 12px;
          position: relative;
          margin: 0px;
       }
       .srch input{
          width: 20%;
       };

       .topcorner{
          width: 34%;
       }


  }

}

@media (max-width: 400px ) and (min-width:360px){
  .rounded-circle{
      width: 200px;
      height: 200px;

      display: block;
      margin: 0 auto;
      max-width: 100%;
  }

  .C2{
      display: block;
      margin-top: 220px;
      margin-left: -240px;
      margin-right: auto;
      width: 100%;
      align-content: center;

  }
  .C1{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .H1{
      font-size: 15px;
  }
  .H2{
      font-size: 13px;
  }
  .snglrow{
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
  }
  input{
      font-size: 10px;
      width: 80%;
      margin-left: 50%;
      margin-right: 50%;
      padding:4px ;
  }
  .mglf{
      margin-left: 40px;
      font-size: 12px;
  }

  .redButton{
      color: white;
      background-color: red;
      width:30% ;
      border-radius: 20px;
      border: none;
      font-size: 12px;
  }
  .mgb, .btm{
      font-size: 12px;
  }

  .mgm{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .snglrow{
    
    margin-top: auto;
    margin-right: auto;
  }
  .main{
      display: none;
  }
   .form-search {
      margin-left:auto;
      margin-right:auto;
    }

    .topnav input{
      width: auto;
      margin-left: auto;
      margin-right: 0px;
      font-size: 10px;
   }
   .topcorner{
      position:relative;
      top:0px;
      right: 0px;
       width: 43%;
      float: right; 
      font-size: 10px;
      margin-top: 5px;
   }
   .srch img{
      width: 15px;
      height: 20px;
   }
   .srch {
      margin-left: 4px;
   }

   .bellimg{
      width: 15px;
      height: 15px;
   }
   .pimg{
      width: 15px;
      height: 15px;
   }
   .imgnav{
      width:20%;
   }
   .sidebar{
      width: 30%;
      font-size: 10px;
      background-color:wheat;
  
   }
   .sidebar a{
      text-align: center;
      font-size: 8px;
   }
   .sidebar a:hover{
      background-color: white;
      color: red;
      font-weight: bold;
   }
   .pname{
      display:none;
   }
   .Menubtnwidth{
      width: 20px;
  }
  .logowidth{
      width: 67px;
      height: 30px;
  }
  .bellimg{
      width: 12px;
      height: 12px;
      position: relative;
      margin: 0px;
   }
   .pimg{
      width: 12px;
      height: 12px;
      position: relative;
      margin: 0px;
   }
   .srch input{
      width: 15%;
   };

   .topcorner{
      width: 34%;
   }

}



